name: Build & Push Ollama Image

on:
  push:
    branches: ["main"]
    paths:
      - "ollama/**"
      - ".github/workflows/dockerhub-ollama.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Ollama Image
        uses: docker/build-push-action@v6
        with:
          context: ./ollama
          file: ./ollama/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            funcrange1/roleplay-ollama:latest
            funcrange1/roleplay-ollama:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
